.swiper {
  overflow: visible !important;
}

.swiper-pagination  {
  position: absolute;
  bottom: -40px !important;
  left: 50%;
}

.swiper-pagination-bullet {
  background: transparent !important;
  border: 1px solid hsl(12, 88%, 59%);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  background: hsl(12, 88%, 59%) !important;
}